<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
  <add key="EndPointUrl" value="XXX"/>
  <add key="AuthorizationKey" value="XXX"/>

  <add key="DatabaseId" value="mydb"/>
  <add key="CollectionId" value="mycol"/>

  <add key="Idpath1" value="/&quot;$v&quot;/&quot;_id&quot;/&quot;$t&quot;/?"/>

  <add key="Idpath2" value="/&quot;$v&quot;/&quot;_id&quot;/&quot;$v&quot;/?"/>

  <add key="Idpath3" value="/&quot;$v&quot;/&quot;_id&quot;/&quot;$v&quot;/[]/&quot;$v&quot;/?"/>

  <add key="Idpath4" value="/&quot;$v&quot;/&quot;_id&quot;/&quot;$v&quot;/[]/&quot;$t&quot;/?"/>
    </appSettings>

</configuration>